<?php $controller="tbl_mirai_all_settings";?>
<div class="header_tab header_tab_select btn_select_color" data-type="button">
	<a href="<?php echo $controller.DS."index"; ?>">全体設定</a>
</div>
<div class="header_tab header_tab_select btn_select_color" data-type="button">
	<a href="<?php echo $controller.DS."meta"; ?>">METAタグ設定</a>
</div>
<div class="header_tab header_tab_select btn_select_color" data-type="button">
	<a href="<?php echo $controller.DS."analytics"; ?>">Analyticsタグ</a>
</div>
